[build-system]
requires = ["flit_core >=3,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "attribution"
author = "John Reese"
author-email = "john@noswap.com"
description-file = "README.rst"
home-page = "https://attribution.omnilib.dev"
requires = ["attrs", "click", "jinja2", "packaging", "toml"]
requires-python = ">=3.6"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Topic :: Software Development :: Version Control",
    "Topic :: Software Development :: Documentation",
    "Topic :: Software Development :: Version Control :: Git",
    "Topic :: Utilities",
    "Typing :: Typed",
]

[tool.flit.metadata.urls]
Documentation = "https://attribution.omnilib.dev/en/latest/"
Github = "https://github.com/omnilib/attribution"

[tool.flit.scripts]
attribution = "attribution.main:main"

[tool.flit.sdist]
exclude = [
    ".github/",
]

[tool.coverage.run]
branch = true
include = ["attribution/*"]
omit = ["attribution/tests/*"]

[tool.coverage.report]
fail_under = 70
precision = 1
show_missing = true
skip_covered = true