black==22.8.0
codecov==2.1.12
coverage==6.4.4
flake8==5.0.4
flake8-bugbear==22.8.23
flit==3.7.1
mypy==0.971
pessimist==0.9.3
rich==12.5.1
sphinx==5.1.1; python_version >= "3.8"
sphinx-mdinclude==0.5.2
ufmt==2.0.0
usort==1.0.4
wheel==0.37.1
